.seat span {
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    color: darkcyan;
    font-size: 9px;
    font-weight: 600;
    line-height: 10px;
    margin: 2px;
    padding: 0 2px;
}
.seat span:hover {
    background-color: deepskyblue;
}
h3 {
    text-align: center;
}


/*L1: 수원SK아트림움 대공연장 1층*/
#SKL1 {
/*    display: flex;*/
    flex-direction: column;
}

/* OP */
#SKL1>div:first-child>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#SKL1>div:first-child>div>div {
    display: flex;
    flex-direction: column;
}
#SKL1>div:first-child>div>div>div {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
#SKL1>div:first-child>div>div:first-child>div {
    justify-content: flex-end;
}

/* 1-9 */
#SKL1>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#SKL1>div:nth-child(2)>div>div {
    display: flex;
    flex-direction: column;
}
#SKL1>div:nth-child(2)>div>div>div {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
#SKL1>div:nth-child(2)>div:first-child>div>div {
    justify-content: flex-end;
}

/* 10-21 */
#SKL1>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#SKL1>div:nth-child(3)>div>div {
    display: flex;
    flex-direction: column;
}
#SKL1>div:nth-child(3)>div>div>div {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
#SKL1>div:nth-child(3)>div:first-child>div>div {
    justify-content: flex-end;
}


/* SKL2: 수원SK아트리움 대공연장 2층 */
#SKL2>div:first-child, #SKL2>div:last-child {
    text-align: center;
}
#SKL2 {
    display: flex;
    flex-direction: column;
}

/* OP */
#SKL2>div:nth-child(2) {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#SKL2>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
}

/* 1-7 */
#SKL2>div:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#SKL2>div:nth-child(3)>div>div {
    display: flex;
    flex-direction: column;
}
#SKL2>div:nth-child(3)>div>div>div {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}
#SKL2>div:nth-child(3)>div:first-child>div>div {
    justify-content: flex-end;
}


/* SKS: 수원SK아트리움 소공연장 */
#SKS {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* OP */
#SKS>div:first-child {
    display: flex;
    flex-direction: column;
}
#SKS>div:first-child>div {
    display: flex;
    flex-direction: row;
    width: 360px;
    margin: 0 auto;
    justify-content: space-between;
}
#SKS>div:first-child>div>div {
    display: flex;
    flex-direction: row;
}
/* 1~12 */
#SKS>div:last-child {
    display: flex;
    flex-direction: row;
}
#SKS>div:last-child>div {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: space-between
}
#SKS>div:last-child>div>div {
    display: flex;
    flex-direction: column;
    
}
#SKS>div:last-child>div:first-child>div>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#SKS>div:last-child>div:last-child>div>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


#SKL1 {
/*    TODO: TEST*/
/*    visibility: hidden;*/
    /*display: none;*/
}
#SKL2 {
/*    TODO: TEST*/
    display: none;
}
#SKS {
/*    TODO: TEST*/
    display: none;
}
