<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="performance.css">
    <script src="test.js"></script>
</head>

<body>
    <div id="performance">
        <!-- item -->
        <div class="flex_item">
            <div class="title">
                <span>12.10</span>
                <span>금요일</span>
                <span>19:30</span>
                <span>은평문화예술회관 공연장</span>
            </div>
            <div class="detail">
                <div class="image">
                    <img src="performance_test.jpg" alt="에라이">
                </div>
                <div class="content">
                    <div class="tag tag_purple">
                        <span>시민공연</span> 
                        <span>찾아가는음악회</span>
                    </div>
                    <div>
                        <span><h2>미라클 서울-그래도 크리스마스</h2></span>
                    </div>
                    <div class="list">
                        <dl>
                            <dt>지휘자</dt><dd>데이비드 이</dd>
                            <dt>협연자</dt><dd>존 노<br>111<br>222</dd>
                            <dt>프로그램</dt><dd>베토벤</dd>
                            <dt>가격</dt><dd>무료</dd>
                            <dt>협찬사</dt><dd>하나</dd>
                        </dl>
                    </div>
                    <div class="buttons">
                        <div class="detailBtn"><span>자세히 보기</span></div>
                        <div class="reserveBtn"><span>예매하기</span></div>
                    </div>
                </div>
            </div>        
        </div>
        
        <div class="flex_item">
            <div class="title">
                <span>12.10</span>
                <span>금요일</span>
                <span>19:30</span>
                <span>은평문화예술회관 공연장</span>
            </div>
            <div class="detail">
                <div class="image">
                    <img src="performance_test.jpg" alt="에라이">
                </div>
                <div class="content">
                    <div class="tag tag_purple">
                        <span>시민공연</span> 
                        <span>찾아가는음악회</span>
                    </div>
                    <div>
                        <span><h2>미라클 서울-그래도 크리스마스</h2></span>
                    </div>
                    <div>
                        <dl>
                            <dt>지휘자</dt><dd>데이비드 이</dd>
                            <dt>협연자</dt><dd>존 노<br>111<br>222</dd>
                            <dt>프로그램</dt><dd>베토벤</dd>
                            <dt>가격</dt><dd>무료</dd>
                            <dt>협찬사</dt><dd>하나</dd>
                        </dl>
                    </div>
                    <div class="buttons">
                        <div class="detailBtn"><span>자세히 보기</span></div>
                        <div class="reserveBtn"><span>예매하기</span></div>
                    </div>
                </div>
            </div>        
        </div>
    </div>

</body>

</html>