@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cute+Font&family=Noto+Sans+KR:wght@500&family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* performance */
#performance {
    width: 790px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#preformance div {
    box-sizing: border-box;
}

/* FLEX ITEM(flex_item) 관련 */

.flex_item {
    width: 100%; /* TEST */
    height: 420px;
    border-top: 2px solid gray;
}

.flex_item:first-child {
    border-top: 2px solid black;
}

/* TITLE 관련 */
.flex_item .title {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgray;
}

.flex_item>.title>span:first-child {
    /* DATE: eg. 12.10 */
    margin-left: 30px;
    line-height: 70px;
    font-weight: 600;
    font-family: 'Cute Font', cursive;
    font-size: 3em;
}

.flex_item>.title>span:nth-child(2) {
    /* year & weekday: eg. 금요일 */
    width: 60px;
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
    font-family: 'Black Han Sans', sans-serif;
    color: lightseagreen;
}

.flex_item>.title>span:nth-child(3) {
    /* time: eg. 19:30 */
    width: 50px;
    height: 100%;
    margin-left: 30px;
    line-height: 70px;
    color: darkgray;
    font-size: 36px;
    font-family: 'Cute Font', cursive;
}

.flex_item>.title>span:last-child {
    /* location: eg. 대한성공회 서울주교좌성당 */
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 70px;
}


/* DETAIL */

.flex_item .detail {
    width: 100%;
    height: 350px;
    padding: 30px 0px;
}

.flex_item .image {
    width: 200px;
    float: left;
}

.detail .content {
    width: 540px;
    float: left;
    margin-left: 40px;
}

/* image */
.flex_item .image>img {
    width: 200px;
}

/* TAG 관련 */
.flex_item .content>div:first-child>span {
    padding: 2px 10px;
    font-family: 'Black Han Sans', sans-serif;
}


/* 제목 */
.flex_item .content>div:nth-child(2) {
    font-family: 'Noto Sans KR', sans-serif;
/*    font-size: 20px;*/
}
.flex_item .content h2 {
    margin: 10px 0;
}


/* dl */
.flex_item dl {
    width: 100%;
    color: darkgray;
    align-self: stretch;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.flex_item dl>* {
    display: inline-block;
}
.flex_item dl>dt {
    width: 80px;
    vertical-align: top;
}
.flex_item dl>dd {
    width: 420px;
    margin-left: 20px;
}


/* buttons */

.flex_item .buttons>div {
    width: 150px;
    height: 50px;
    float: left;
    margin-right: 20px;
    text-align: center;
    line-height: 50px;
    font-family: 'Black Han Sans', sans-serif;
}

.tag_purple>span {
    background-color: purple;
    color: white;
}


.detailBtn {
    border: 1px solid black;
    color: black;
}
.reserveBtn {
    border: 1px solid red;
    color: red;
}

