/* 작은 캘린더 */


.calendar-mini {
    width: 300px;
}
.calendar-mini>.frame {
    border: 1px solid black;
    border-radius: 7px;
    padding: 8px;
}

/* calendar HEADER */
.calendar-mini>.frame>div {
    width: 100%;
    height: 50px;
}
.calendar-mini>.frame>div>div {
    float: left;
    box-sizing: border-box;
    vertical-align: center;
}
.calendar-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}
.calendar-header > div {
    margin: 4px 0px;
}
.calendar-header > .btnDiv {
    width: 40px;
    height: 100%;
    margin: 8px 14px;
}
.calendar-header > .dateDiv {
    width: 200px;
    height: 100%;
    padding: 6px;
    text-align: center;
}
.calendar-mini .calendar-date {
    height: 100%;
    width: 100%;
    font: 700 20px/34px 'Nanum Gothic', sans-serif;
}
.curBtn {
    padding: 6px;
    background-color: white;
    border: none;
}



/* calendar CONTENTS */
.calendar-mini table {
    width: 100%;
}
.calendar-mini tr>* {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 8px;

}

.calendar-mini th {

}

.calendar-mini td {
    border-radius: 30px;
}

.calendar-mini tr>*:first-child {
    color: red;
}
.calendar-mini tr>*:last-child {
    color: blue;
}
.calendar-mini tr {
    border: 0px solid green;
}


/* CATEGORY-BORDER */
.calendar-mini .regular {
    border: 1px solid green;
}
.calendar-mini .citizen {
    border: 2px dashed purple;
}
.calendar-mini .tour {
    border: 1px dotted skyblue;
}
.calendar-mini .outside {
    border: 2px solid orange;
}
.calendar-mini .education {
    border: 3px double pink;
}

/* CAPTION */
.calendar-mini .caption {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4px;
    margin-top: 4px;
    color: black;
}
.calendar-mini .caption > div {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 36px;
    box-sizing: border-box;
    border-radius: 10px;
}
