@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-gray: #ddd;
    --border-gray: 1px solid gray;
    --strong-color: #F36F21;
}

body {
    margin: 0;
}

content {
    display: block;
    z-index: 1;
    width: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.wrapper,
.LNB {
    width: 1200px;
    margin: 0 auto;
}

/* Navigation */
.nav_div {
    height: 56px;    
    border-bottom: var(--border-gray);
/*    margin: 0;*/

}

/* Menu */
.nav-menu {
    display: flex;
        flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}
.LNB a {
    text-decoration: none;
    color: black;
}

/* LNB-주메뉴 */
.menu-item a {
    font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 56px;
    background-color: white;
    border-right: var(--border-gray);
    z-index: 200;
}


.menu-item:first-child>a {
    border-left: var(--border-gray);
    display: inline-block;
    height: 56px;
}
.menu-item img {
    width: 16px;
    height: 16px;
    margin: 24px;
    filter: contrast(30%);
}
.menu-item:not(.menu-img) > a {
    display: inline-block;
    width: 200px;
    height: 56px;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 56px;
    box-sizing: border-box;
}
.menu-item:not(.menu-img) {
    display: flex;
        flex-direction: column;
}


.nav-submenu {
    display: none;
    top: -500px;
    position: relative;
    padding: 0;
    list-style: none;
    z-index: 100;
}

.submenu-item > a {
    display: inline-block;
    width: 200px;
    height: 48px;
    padding-left: 20px;
    font-weight: 100;
    font-size: 12px;
    border-left: var(--border-gray);
    border-right: var(--border-gray);
    background-color: white;
    box-sizing: border-box;
}

.submenu-item:last-child {
    border-bottom: var(--border-gray);
}
.LNB strong {
    font-weight: 600;
    color: var(--strong-color);
}

.hide {
    visibility: hidden;
}


/* MOUSE OVER */
.menu-item:hover > .nav-submenu {
    display: block;
    top: 1px;
    z-index: 99;
    
    transition-property: top;
    transition-duration: 0.5s;
}