@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 800;
}

/* 메인 공지사항을 위한 공간. */
.header-noti {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0px;
    width: 100%;
    height: 48px;
    color: white;
}


/* 헤더 영역 */
.header-nav {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    position: relative;
/*        top: 48px;*/
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 600;
}
.header-logo {
    width: 60px;
    height: 60px;
    margin: 20px 20px 20px 60px;
}

/* Global Navigation */
.gnb {
    flex: 1 0 400px;
    max-width: 700px;
}
.gnb ul {
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    margin-top: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* menu */
.gnb .menu {
    width: 150px;
    height: 100%;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    list-style: none;
    box-sizing: content-box;
    border: 3px solid rgba(0, 0, 0, 0);
    z-index: 800;
}
.menu > a {
    display: block;
    width: 100%;
    height: 94px;
    text-decoration: none;
    color: white;
    font: bold 20px/100px 'Noto Sans KR', sans-serif;
    font-weight: 700;
    /*        color: white;*/
    text-align: center;
    box-sizing: border-box;
}

/* submenu */
.menu ul {
    display: none;
    float: left;
    position: relative;
    top: -4px;
    height: 80px;
    list-style: none;
    z-index: 699;
    margin-top: 10px;
}
.gnb a > strong {
    color: #F36F21;
    /* border-bottom: 3px solid #F36F21; */
}



.submenu {
    width: 150px;
    display: none;
    margin-top: 10px;
    flex: 0 0 150px;
    z-index: 700;
}
.submenu a {
    /* display: fixed; */
    font-size: bold 17px/80px 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #4e4e4e;
    line-height: 80px;
    text-decoration: none;
    z-index: 700;
}

/* ICONS */
.icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 40px 0 0;
}
.icons a {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.icon_box {
    /* height: 30px; */
    width: 80px;
    padding: 3px 9px;
    border: 1px solid white;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 20px;
    /* margin-left: 10px; */
    text-align: center;
}
.icon {
    flex: 0 0 100%;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    border: 0px solid white;
    margin-right: 10px
}


/* SUBNAV */
.header-subnav {
    display: none;
    position: relative;
    background-color: white;
    margin-top: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    border-bottom: 1px solid #858585;
}


/* 헤더 뒷 배경 */
.header-back img {
    width: 100%;
    display: block;
    visibility: hidden;
}
.header-back-small {
    /* 헤더 뒷 배경 작은사이즈 */
    width: 100%;
    height: 148px;
    /*    background-size: cover;*/
    /*    overflow: hidden;*/
}
.header-back-large {
    /* 헤더 뒷 배경 큰사이즈 */
    width: 100%
}


/* Event */

.header:hover > .header-nav {
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.header:hover a {
    color: black;
}
.header:hover > .header-subnav {
    position: absolute;
    display: block;
}
.header:hover .submenu {
    display: inline-block;
}
.header:hover .header-logo {
    filter: invert(100%);
}
.header:hover .icon {
    filter: none;
}
.header:hover .icon_box {
    filter: invert(100%);
}
.menu:hover {
    background-color: white;
    color: black;
}
.menu:hover > a {
    border-bottom: 4px solid black;

    transition-property: border-bottom;
    transition-duration: 2s;
}
.menu:hover ul {
    display: flex;
        flex-direction: row;
    color: black;
    z-index: 900;
}
.menu ul:hover {
    visibility: visible;
    color: black;
    z-index: 900;
}
.header:hover .icon_box {
    filter: none;
    border: 1px solid black;
}
.icon:hover {
    filter: invert(50%) !important;
    /* border-radius: 100%; */
    /* background-color: black; */
}

.content-mainmenu:hover > ul {
    display: inline-block;
}
.content-mainmenu:hover > a {
    color: black;
}
