/* 제목태그는 접근성 향상을 위한 주석용도 */
.comment {
    display: none;
}

#carousel {
    z-index: 0;
    position: relative;
    display: block;
    top: -148px;
    width: 100%;
    aspect-ratio: 16/9;
}

h1 {
    text-align: center;
}

content {
    scroll-snap-type: mandatory;
}

#wrapper {
    width: 1000px;
}



/* performance-list */
.perf-cards {
    display: flex;
        flex-flow: row nowrap;
    background-color: gray;
    position: relative;
    width: 1000px;
    height: 300px;
    margin-bottom: 400px;
    scroll-snap-align: start;
}
.card-item {
    width: 260px;
    height: 368px;
    border: 1px solid gray;
    margin-left: 30px;
    background-size: cover;
    flex: 0 0 260px;
    z-index: 30;
}

.card-item img {
    width: 100%;
    height: 100%;
    z-index: 50;
    aspect-ratio: 16/9;
}
.card-detail {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.97);
    position: relative;
    overflow: hidden;
    
}
.card-detail>div:first-child {
    width: 100%;
    height: 290px;
}
.reserve-btn {
    position: relative;
        bottom: 0;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}




/* Mouse Over */
.card-item:hover > .card-detail {
    float: left;
    top: -366px;
}


.reserve-btn:hover {
    background-color: black;
    color: white;
}

/* */
.calendar {
    display: flex;
        flex-direction: row;
    scroll-snap-align: start;
}
.carlendar {
    display: flex;
    flex-direction: row;
}
.calendar .days>span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: skyblue;
    text-align: center;
}


.days {
    display: flex;
        flex-direction: row;
    font: 12px 'Nanum Gothic', sans-serif;
    line-height: 32px;
}
.days span {
    width: 14px;
}