@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    width: 100%;

    /* height: 100%; */
    margin: 0;
}

/* 메인 공지사항을 위한 공간. */
.header-noti {
    display: fixed;
    background-color:rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100%;
    height: 48px;
}

header {
    position: sticky;
        top: 0px;
    z-index: 800;
}


/* 헤더 영역 */
.header-nav {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.header-logo {
    width: 60px;
    height: 60px;
    margin: 20px 20px 20px 60px;
}
/* Global Navigation */
.gnb {
    flex: 1 0 400px;
    max-width: 700px;
    
}
.gnb ul {
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
}
/* menu */
.gnb .menu {
    width: 150px;
    height: 100%;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    list-style: none;
    box-sizing:content-box;
    border: 3px solid rgba(0, 0, 0, 0);
    z-index: 800;
}
.menu>a {
    display: block;
    width: 100%;
    height: 94px;
    text-decoration: none;
    color: white;
    font: bold 20px/100px 'Noto Sans KR', sans-serif;
        font-weight: 700;
/*        color: white;*/
    text-align: center;
    box-sizing: border-box;
}
/* submenu */
.menu ul {
    visibility: hidden;
    float: left;
    height: 80px;
    list-style: none;
    z-index: 799;
    position: relative;
    top: -4px;
}
.gnb a>strong {
    color: #F36F21;
    /* border-bottom: 3px solid #F36F21; */
}



.submenu {
    width: 150px;
/*    display: inline-block;*/
    margin-top: 10px;
    flex: 0 0 150px;
    z-index: 900;
}
.submenu a {
    /* display: fixed; */
    font-size: bold 17px/80px 'Noto Sans KR', sans-serif;
        font-weight: 700;
        color: #4e4e4e;
    line-height: 80px;
    text-decoration: none;
    z-index: 900;
}

/* ICONS */
.icons {
    display: flex;
        flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 40px 0 0;
}
.icon_box {
    /* height: 30px; */
    width: 80px;
    padding: 3px 9px;
    border: 1px solid white;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 20px;
    /* margin-left: 10px; */
    text-align: center;
}
.icon {
    flex: 0 0 100%;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    border: 0px solid white;
    margin-right: 10px
}

.header-subnav {
    display: none;
    position: relative;
    background-color: white;
    top: 100px;
    width: 100%;
    height: 280px;
    z-index: 10;
}

/* Evnet */

header:hover > .header-nav {
    background-color: white;
    border-bottom: 1px solid lightgray;
}
header:hover a {
    color: black;
}
header:hover > .header-subnav {
    position: absolute;
    display: block;
}
header:hover .header-logo {
    filter: invert(100%);
}
header:hover .icon {
    filter: none;
}
header:hover .icon_box {
    filter: invert(100%);
}
.menu:hover {
    background-color: white;
    color: black;
    
}
.menu:hover>a {
    border-bottom: 3px solid black;
    
    transition-property: border-bottom;
    transition-duration: 2s;
}
.menu:hover ul {
    visibility: visible;
    color: black;
    z-index: 900;
}

.menu ul:hover {
    visibility: visible;
    color: black;
    z-index: 900;
}

.icon:hover {
    background-color: white;
}



/* 일반 페이지를 위한 css */
content .test {
    min-height: 600px;
}
/* 헤더 뒷 배경 */
content .header-back {
    position: absolute;
    width: 100%;
    height: 148px;
    top: -148px;
/*    filter: blur(4px);*/
}
.header-back img {
    width: 100%;
    display: block;
    visibility: hidden;
}
.header-back-small {
    /* 헤더 뒷 배경 작은사이즈 */   
    width: 100%;
    height: 148px;
/*    background-size: cover;*/
/*    overflow: hidden;*/
}
.header-back-large {
    /* 헤더 뒷 배경 큰사이즈 */   
}

/* CONTENT-MENU */
.content-menu {
    width: 100%;
    height: 57px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 900;
}
.content-menu>ul {
    display: flex;
        flex-direction: row;
    padding: 0;
    margin-left: 400px;
}
.content-mainmenu {
    list-style: none;
    height: 100%;
    width: 200px;
    box-sizing: border-box;
    display: block;
    line-height: 57px;
    border-right: 1px solid lightgray;
}
.content-mainmenu:first-child {
    height: 100%;
    width: 57px;
    border-left: 1px solid lightgray;
}
.content-mainmenu > ul {
/*    display: flex;*/
/*        flex-direction: column;*/
    display: none;
    width: 200px;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
}
.content-submenu {
    height: 50px;
    list-style: none;
    margin: 6px;
}
.content-menu a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}
.content-submenu strong {
    color: #C7510B;
}

.content-mainmenu:hover > ul {
    display: inline-block;
}
.content-mainmenu:hover > a {
    color: black;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}