@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 제목태그는 접근성 향상을 위한 주석용도 */
.comment {
    display: none;
}

#carousel {
    z-index: 0;
    position: relative;
    display: block;
    top: -148px;
    width: 100%;
    aspect-ratio: 16/9;
}

h1 {
    text-align: center;
}

content {
    scroll-snap-type: mandatory;
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}




/* */
.calendar {
    flex: 1 0 auto;
    display: flex;
        flex-direction: row;
        justify-content: center;
    scroll-snap-align: start;
}
.calendear div:first-child {
    font: 11px 'Nanum Gothic', sans-serif;
}



.days {
    display: flex;
        flex-direction: row;
    font: 11px 'Nanum Gothic', sans-serif;
    line-height: 32px;    
}


.days>span {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
.hollyday {
    color: red;
}







/* performance-list */
.perf-cards {
    display: flex;
        flex-flow: row nowrap;
    position: relative;
    width: 1000px;
    height: 300px;
    margin-bottom: 400px;
    scroll-snap-align: start;
}
.card-item {
    width: 260px;
    height: 368px;
    border: 1px solid gray;
    margin-left: 30px;
    background-size: cover;
    flex: 0 0 260px;
    z-index: 30;
    overflow: hidden;
}

.card-item img {
    width: 100%;
    height: 100%;
    z-index: 50;
    aspect-ratio: 16/9;
}
.card-detail {
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.97);
    position: relative;
}
.card-detail>div:first-child {
    width: 100%;
    height: 276px;
}

.card-detail .tag {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.card-detail h5 {
    margin-top: 10px;
    margin-bottom: 28px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}
.card-detail span:not(.tag) {
    display: block;
    margin-top: 2px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: gray;
}



.reserve-btn {
    position: relative;
        bottom: 0;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}






















/* Mouse Over */
.card-item:hover > .card-detail {
    position: relative;
    top: -366px;
    
    transition: position 2s;
}


.reserve-btn:hover {
    background-color: black;
    color: white;
}
