@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body > div {
    width: 730px;
    height: 520px;
    border: 1px solid red;
}

:root {
    --seat-width: 14px;
    --seat-height: 10px;
    --seat-special-width: 28px;
}

/* .seat {
    display: grid;
        grid-template-rows: 50px repeat(3, var(--seat-height)) 50px repeat(9, var(--seat-height)) 30px repeat(21, var(--seat-height));
        grid-template-columns: repeat(10, var(--seat-width)) 30px repeat(13, var(--seat-width)) 30px repeat(11, var(--seat-width));
        gap: 4px;
} */


.seat {
    display: inline-block;
    width: 10px;
    height: 10px;
    font: 8px/10px 'Noto Sans KR', sans-serif;
    /* font-weight: 600; */
    color: darkcyan;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 2px;
}
.seat-label {
    display: inline-block;
    width: 20px;
    height: 10px;
    font: 8px/10px 'Noto Sans KR', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.seat-special {
    display: inline-block;
    grid-row: 1/3;
    width: 28px;
    height: 24px;
    margin-right: 2px;
}
.seat-speical img {
    width: 16px;
    height: 16px;
}
.seat-header {
    text-align: center;
}

/*  */

.area-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.large-area-OP {
    display: grid;
    grid-template-columns: repeat(3, var(--seat-width)) 30px repeat(11, var(--seat-width)) 30px repeat(4, var(--seat-width));
    grid-template-rows: repeat(3, var(--seat-height));
    gap: 4px;
}
.area-flex .large-area-AC9 {
    display: grid;
    grid-template-columns: repeat(9, var(--seat-width));
    grid-template-rows: repeat(9, var(--seat-height));
    gap: 4px;
}
.area-flex .large-area-B9 {
    display: grid;
    grid-template-columns: 28px repeat(14, var(--seat-width)) 28px;
    grid-template-rows: repeat(9, var(--seat-height));
    gap: 4px;
}
.area-flex .large-area-AC12 {
    display: grid;
    grid-template-columns: repeat(11, var(--seat-width));
    grid-template-rows: repeat(10, var(--seat-height));
    gap: 4px;
}
.area-flex .large-area-B12 {
    display: grid;
    grid-template-columns: 28px repeat(14, var(--seat-width)) 28px;
    grid-template-rows: repeat(14, var(--seat-height));
    gap: 4px;
}
/* SPEACIAL */
.area-flex .large-specialarea-A2 {
    display: grid;
    grid-template-columns: repeat(5, var(--seat-special-width)) repeat(2, var(--seat-width));
    grid-template-rows: repeat(2, var(--seat-height));
    gap: 4px;
    margin-top: 4px;
}
.area-flex .large-specialarea-C2 {
    display: grid;
    grid-template-columns: repeat(2, var(--seat-width)) repeat(5, var(--seat-special-width));
    grid-template-rows: repeat(2, var(--seat-height));
    gap: 4px;
    margin-top: 4px;
}

/* EVENT */
.seat:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

/* FUNCTIONAL */
.seat-disabled {
    /* visibility: hidden !important; */
    border: none;
    color: white;
    background-color: none;
    cursor: none;
}
.seat-disabled:hover {
    background-color: white;
    cursor: default;
}

.seat-selected {
    background-color: pink;
}

.seat-reserved {
    /* 예약된 좌석 */
    background-color: #ffc107;
    cursor: default;
}
.seat-reserved:hover {
    background-color: #ffc107;
    cursor: default;
}
.seat-restrict {
    /* 제한 좌석 */
    background-color: red;
    cursor: default;
}
.seat-restrict:hover {
    background-color: red;
    cursor: default;
}