<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style/contentframe.css" />
    <link rel="stylesheet" href="/assets/style/performance.css" />
    <link rel="stylesheet" href="/assets/style/tag-color.css">
  </head>

  <body>
    <content>
      <!-- Local Navi Bar-->
      <div class="nav_div">
        <nav id="LNB" class="LNB">
          <ul class="nav-menu">
            <li class="menu-item menu-img">
              <a href=""><img src="/assets/icon/home.svg" /></a>
            </li>
            <li class="menu-item">
              <a href=""><b>공연/예매</b></a>
              <ul class="nav-submenu">
                <li class="submenu-item">
                  <a href=""><strong>공연/예매</strong></a>
                </li>
                <li class="submenu-item"><a href="">교육</a></li>
                <li class="submenu-item"><a href="">오케스트라</a></li>
                <li class="submenu-item"><a href="">시향소식</a></li>
                <li class="submenu-item"><a href="">기관소개</a></li>
              </ul>
            </li>
            <li class="menu-item">
              <a href=""><b>공연일정</b></a>
              <ul class="nav-submenu">
                <li class="submenu-item">
                  <a href=""><strong>공연일정</strong></a>
                </li>
                <li class="submenu-item"><a href="">공연소개</a></li>
                <li class="submenu-item"><a href="">예매안내</a></li>
              </ul>
            </li>
            <li class="menu-item hide">
              <a href="">test</a>
              <ul class="nav-submenu">
                <li class="submenu-item">
                  <a href=""><strong>공연일정</strong></a>
                </li>
                <li class="submenu-item"><a href="">공연소개</a></li>
                <li class="submenu-item"><a href="">예매안내</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div class="wrapper">
        <!-- 공연일정 -->
        <div class="content-title">
          <h2>공연일정</h2>
          
        </div>
        <!-- 공연타입 선택 -->
        <div class="content-type">
          <h3>공연타입 선택</h3>
          <ul>
            <li class="invert">ALL</li>
            <li class="regular-border-color">정기공연</li>
            <li class="citizen-border-color">시민공연</li>
            <li class="tour-border-color">순회공연</li>
            <li class="outside-border-color">외부공연</li>
            <li class="education-border-color">교육공연</li>
          </ul>
        </div>

        <!-- 공연목록 -->
        <div class="list-container">
          <div class="performance">
            <!-- item -->
            <div class="perf_item">
              <div class="title">
                <span>12.10</span>
                <span>금요일</span>
                <span>19:30</span>
                <span>은평문화예술회관 공연장</span>
              </div>
              <div class="detail">
                <div class="image">
                  <img src="/upload/show/default.gif" />
                </div>
                <div class="content">
                  <div class="tag tag_purple">
                    <span>시민공연</span>
                    <span>찾아가는음악회</span>
                  </div>
                  <div>
                    <span><h2>미라클 서울-그래도 크리스마스</h2></span>
                  </div>
                  <div class="list">
                    <dl>
                      <dt>지휘자</dt>
                      <dd>데이비드 이</dd>
                      <dt>협연자</dt>
                      <dd>존 노<br />111<br />222</dd>
                      <dt>프로그램</dt>
                      <dd>베토벤</dd>
                      <dt>가격</dt>
                      <dd>무료</dd>
                      <dt>협찬사</dt>
                      <dd>하나</dd>
                    </dl>
                  </div>
                  <div class="buttons">
                    <div class="detailBtn"><span>자세히 보기</span></div>
                    <div class="reserveBtn"><span>예매하기</span></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="perf_item">
              <div class="title">
                <span>12.10</span>
                <span>금요일</span>
                <span>19:30</span>
                <span>은평문화예술회관 공연장</span>
              </div>
              <div class="detail">
                <div class="image">
                  <img src="/upload/show/default.gif" />
                </div>
                <div class="content">
                  <div class="tag tag_purple">
                    <span>시민공연</span>
                    <span>찾아가는음악회</span>
                  </div>
                  <div>
                    <span><h2>미라클 서울-그래도 크리스마스</h2></span>
                  </div>
                  <div>
                    <dl>
                      <dt>지휘자</dt>
                      <dd>데이비드 이</dd>
                      <dt>협연자</dt>
                      <dd>존 노<br />111<br />222</dd>
                      <dt>프로그램</dt>
                      <dd>베토벤</dd>
                      <dt>가격</dt>
                      <dd>무료</dd>
                      <dt>협찬사</dt>
                      <dd>하나</dd>
                    </dl>
                  </div>
                  <div class="buttons">
                    <div class="detailBtn"><span>자세히 보기</span></div>
                    <div class="reserveBtn"><span>예매하기</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar">
            1
          </div>
        </div>
      </div>
    </content>
  </body>
</html>
