<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="/assets/style/detailview.css">
    <div class="detailView">
        <div class="title">
            <a href="">공연일정 화면으로 이동</a> <br>
            <span>시민공연/찾아가는음악회</span>
            <h1>2021 서울시향 우리동네 음악회 실내악</h1>
        </div>
        <article>
            <div class="graybox">
                <div>
                    <span>2021.12.03 금요일 20:00</span>
                    <span>롯데 콘서트홀</span>
                </div>
                <div class="list">
                    <dl>
                        <div>
                            <dt>
                                <span class="subtitle">지휘자</span>
                            </dt>
                            <dd>
                                <span>지중배</span>
                            </dd>
                        </div>
                        <div>
                            <dt>
                                <span class="subtitle">협연자</span>
                            </dt>
                            <dd>
                                <span>피아노, 보리스 길트버그</span>
                            </dd>
                        </div>
                        <dt>
                            <span class="subtitle">프로그램</span>
                        </dt>
                        <dd>
                            <span>홈퍼딩크</span>
                        </dd>                        
                        <dt>
                            <span class="subtitle">가격</span>
                        </dt>
                        <dd>
                            <span>R 70000</span>
                        </dd>
                    </dl>
                </div>
                <div class="reserveDiv">
                    <span class="reserveBtn">
                        공연종료
                    </span>
                    <div>공연 당일 티켓은</div>
                </div>
            </div>
            <div>
                <div>
                    div공연소개 / 프로그램 노트 / 연관패키지
                </div>
                <div>
                    
                </div>
            </div>
        </article>
        <div></div>
    </div>
</body>
</html>