<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="/assets/style/detailview.css">
    <link rel="stylesheet" href="/assets/style/tag-color.css">
    <div class="detailView">
        <a href="">공연일정 화면으로 이동</a>
        <div class="title">
            <span class="tag regular-invert-color">시민공연/찾아가는음악회</span>
            <h2>2021 서울시향 우리동네 음악회 실내악</h2>
        </div>
        <div class="content">
            <article>
                <div class="graybox">
                    <div class="schedule">
                        <img src="/assets/icon/icons8-calendar-64.png">
                        <dl>
                            <dt>공연일정</dt>
                            <dd class="date">2021.12.03 금요일 20:00</dd>
                        </dl>
                        <img src="/assets/icon/icons8-location-64.png">
                        <dl>
                            <dt>장소</dt>
                            <dd class="location">롯데 콘서트홀</dd>
                        </dl>
                    </div>
                    <div class="feature">
                        <dl>
                            <div>
                                <dl>
                                    <dt>지휘자</dt>
                                    <dd>지중배<br>Joongbae Jee, Conductor</dd>
                                    <dt>협연자</dt>
                                    <dd>피아노, 보리스 길트버그<br>Boris Giltburg, Piano</dd>
                                </dl>
                            </div>
                        </dl>
                        <dl>
                            <dt>프로그램</dt> 
                            <dd>홈퍼딩크</dd>                        
                        </dl>
                        <dl>
                            <dt>가격</dt>
                            <dd>R 70000</dd>
                        </dl>
                    </div>
                    <div class="reserveDiv">
                        <span class="reserveBtn">
                            공연종료
                        </span>
                        <div>
    <b><pre>※ 공연 당일 티켓은 각 공연장 콜센터와 현장 매표소에서 구입하실 수 있습니다.
    관련 문의
    - 예술의전당 02-580-1300(09:00~20:00)
    - 롯데콘서트홀 1544-7744(평일 10:30 ~ 19:00, 주말,공휴일 휴무)
    - 세종문화회관 02-399-1000(09:00~20:00)
    ※ 본 연주회의 일정과 장소 출연진과 곡목 등은 사정에 따라 변경될 수 있습니다.
    ※ 예매 또는 취소와 관련해서는 "예매안내" 메뉴를 참고하시기 바랍니다.</pre></b>
                        </div>
                    </div>
                </div>
                <div class='notes'>
                    <div class="notes-btns">
                        <ul>
                            <li class="active"><h3>공연소개</h3></li>
                            <li><h3>프로그램 노트</h3></li>
                            <li><h3>연관패키지</h3></li>
                        </ul>
                    </div>
                    <div class="detail-note">
                        
                    </div>
                </div>
            </article>
            <div class="poster">
                <img src="/upload/show/default.gif">
            </div>
        </div>
    </div>
</body>
</html>